// door header background color
$default-header-color : #8b8f92;
$bad-thresh-header-color : #e22425;
$good-thresh-header-color : #368049;
$full-thresh-header-color : #3d6ac5;
$weight-thresh-header-color : #c8bc4d;

// door header border colors
$default-header-border: #444444;
$healthy-header-border: #11ea00;
$bad-header-border: #b00003;
$good-header-border: #11ea00;
$full-header-border : #0d41ab;
$weight-header-border: #ffe400;
$critical-header-border: #b00003;